@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  background-color: #09090b;
}

/* Scrollbar discreta no tema escuro */
::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #00a859;
  border-radius: 999px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

.swiper-pagination-bullet {
  background: #facc15 !important;
  opacity: 0.5;
}
.swiper-pagination-bullet-active {
  opacity: 1 !important;
}
